.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 4px;
    column-gap: 4px;
}
.one{
    padding: 25px;
    display: flex;
    justify-content: center;
    color: white;
    
}
.feature{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
 
}
.header{
    grid-column: 3/7;
    background-color: black;
    
}
.sidebar{
    background-color: green;
    grid-row: 2/7;
 
}
.products{
    background-color: blue;
    grid-column: 2/6;
    grid-row-start: 2;
    grid-row-end: 4;
}
.feature2{
    background-color: red;
    grid-column: 6/7;
}
.bonus1{
    background-color: lightpink;
    grid-column: 2/3;
    grid-row: 4/5;
}
.bonus3{
    background-color: lightpink;
    grid-column: 5/6;
    grid-row: 4/5;
}
.feature3{
    background-color: red;
    grid-column: 6/7;
    grid-row: 4/5;
}
.bonus2{
    background-color: lightpink;
    grid-column: 3/4;
    grid-row: 5/6;
}
.bonus4{
    background-color: lightpink;
    grid-row: 5/6;
    grid-column: 6/7;
}
.footer{
    background-color: orange;
    grid-row: 6/7;
    grid-column: 2/7;
}
